<h3>Answer page</h3>

<%= link_to "coaching", coaching_path %>

<br>
<p>The answer is <%= @query %></p>

<p>The coaches answer is <%= @answers %></p>

<br>
<p>Ask again <%= link_to "Ask", ask_path %></p>



